---
title: Project
---

<section class="js-trigger-navigation" id="projecthead" style="background-image: url('/<%= project.main_image.url %>')">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <h1 class="projecthead-copy"><%= project.title %></h1>
      </div>
    </div>

  </div>
</section>


<section id="project-brief">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <h2>Résumé</h2>

        <p><%= project.description %></p>
      </div>
    </div>

  </div>
</section>


<section id="project-media">
  <div class="container">

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h4><%= project.short_description %></h4>
        <div class="media fitvids">
          <iframe src="//player.vimeo.com/video/<%= project.video.id %>?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
    </div>

  </div>
</section>


<section id="project-making-of">
  <div class="container">

    <h4>Making of</h4>

    <div class="row">
      <div class="col-md-3">
        <img src="http://placehold.it/263x190" alt="">
      </div>
      <div class="col-md-3">
        <img src="http://placehold.it/263x190" alt="">
      </div>
      <div class="col-md-3">
        <img src="http://placehold.it/263x190" alt="">
      </div>
      <div class="col-md-3">
        <img src="http://placehold.it/263x190" alt="">
      </div>
    </div>

  </div>
</section>

<section>
  <div class="container">

    <ul class="pager">
      <li class="previous"><a href="#">&larr; <%= t('pagination.previous') %></a></li>
      <li class="next"><a href="#"><%= t('pagination.next') %> &rarr;</a></li>
    </ul>

  </div>
</section>
