<!DOCTYPE html>
  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= current_page.data.title || "La Raffinerie" %></title>
    <meta name="description" content="La Raffinerie est spécialisée dans le processus d’épuration d’idée.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="La Raffinerie" />
    <meta property="og:site_name" content="La Raffinerie" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://laraffinerie.co/" />
    <meta property="og:description" content="La Raffinerie est spécialisée dans le processus d’épuration d’idée." />
    <meta property="og:image" content="http://laraffinerie.co/images/facebook-icon.jpg" />

    <%= stylesheet_link_tag "/webfonts/ss-social-circle" %>
    <%= stylesheet_link_tag "/webfonts/ss-standard" %>
    <%= stylesheet_link_tag "vendor/colorbox" %>
    <%= stylesheet_link_tag "bootstrap" %>
    <%= stylesheet_link_tag "all" %>
  </head>
  <body class="<%= page_classes %>">

    <%= partial "localizable/header" %>

    <%= yield %>

    <%= partial "localizable/contact" %>
    <%= partial "localizable/footer" %>

    <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js" %>
    <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/js/bootstrap.min.js" %>
    <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/fitvids/1.0.1/jquery.fitvids.min.js" %>
    <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.4.3/jquery.colorbox-min.js" %>
    <%= javascript_include_tag "all" %>

    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38608537-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
