<section id="axioms">
  <div class="container">

    <div class="row">
      <div class="col-md-4 axiom" id="axiom-advertising">
        <h1 class="axiom-title"><%= t('axioms.advertising.title') %></h1>
        <p class="axiom-description"><%= t('axioms.advertising.description') %></p>
      </div>

      <div class="col-md-4 axiom" id="axiom-corporate">
        <h1 class="axiom-title"><%= t('axioms.corporate.title') %></h1>
        <p class="axiom-description"><%= t('axioms.corporate.description') %></p>
      </div>

      <div class="col-md-4 axiom" id="axiom-action">
        <h1 class="axiom-title"><%= t('axioms.action.title') %></h1>
        <p class="axiom-description"><%= t('axioms.action.description') %></p>
      </div>
    </div>

  </div>
</section>
