<section id="<%= t('header.navigation.company_fragment') %>">
  <div class="container">

    <div class="row">
      <div class="col-md-4 axiom" id="axiom-advertising">
        <h1 class="axiom-title"><%= t('company.advertising.title') %></h1>
        <p class="axiom-description"><%= t('company.advertising.description') %></p>
      </div>

      <div class="col-md-4 axiom" id="axiom-corporate">
        <h1 class="axiom-title"><%= t('company.corporate.title') %></h1>
        <p class="axiom-description"><%= t('company.corporate.description') %></p>
      </div>

      <div class="col-md-4 axiom" id="axiom-action">
        <h1 class="axiom-title"><%= t('company.action.title') %></h1>
        <p class="axiom-description"><%= t('company.action.description') %></p>
      </div>
    </div>

  </div>
</section>
