<div class="navbar navbar-default navbar-transparent navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><%= t('header.navigation.brand') %></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to t('header.navigation.company'), '/', fragment: t('header.navigation.company_fragment') %>
        </li>
        <li>
          <%= link_to t('header.navigation.projects'), '/', fragment: t('header.navigation.projects_fragment') %>
        </li>
        <% if data.try(:directors) && data.directors.any? { |d| d[1]['published'] } %>
          <li>
            <%= link_to t('header.navigation.directors'), '/', fragment: t('header.navigation.directors_fragment') %>
          </li>
        <% end %>
        <li>
          <%= link_to t('header.navigation.contact'), '/', fragment: t('header.navigation.contact_fragment') %>
        </li>
        <li>
          <%= link_to t('header.navigation.reel'), '#', :'data-toggle' => 'modal', :'data-target' => '#reel' %>
        </li>
        <li class="navbar-social hidden-xs">
          <a href="https://www.facebook.com/pages/La-Raffinerie/432454826833215">
            <i class="ss-icon ss-social-regular">facebook</i>
          </a>
        </li>
        <li class="navbar-social hidden-xs">
          <a href="http://vimeo.com/laraffinerieco">
            <i class="ss-icon ss-social-regular">vimeo</i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
