<section id="<%= t('header.navigation.projects_fragment') %>">
  <div class="container">

    <% elements = [] %>
    <% elements += data[:projects] ? data.projects.map { |k, v| v.merge({ type: :project, slug: k }) } : [] %>
    <% elements += data[:quotes] ? data.quotes.map { |k, v| v.merge({ type: :quote }) } : [] %>
    <% elements.shuffle! %>

    <% elements.insert([3, 4].sample, Hash.new) %>
    <% elements.insert([6, 7].sample, Hash.new) %>

    <div class="row">
      <div class="col-md-4 project">
        <h3>Projects</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium neque sed repellendus minima eveniet sapiente quasi! Amet, earum, in, doloribus porro.</p>
      </div>

      <% elements.each do |element| %>
        <% if element.blank? %>
          <div class="col-md-4 project"></div>

        <% elsif element[:type] == :quote %>
        <div class="col-md-4 quote">
          <blockquote>
            <p><%= element.text %></p>
            <small><%= element.author %></small>
          </blockquote>
        </div>

        <% elsif element[:type] == :project %>
          <div class="col-md-4 project">
            <% link_to "projets/#{slugify(element[:slug])}" do %>
              <div class="thumbnail">
                <% if element[:new] %>
                  <span class="label label-default">Nouveau</span>
                <% end %>

                <%= image_tag(element.thumbnail.url, alt: element.thumbnail.title) %>

                <div class="caption">
                  <h5><%= element.title %></h5>
                  <p><%= element.short_description %></p>
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
        <% end %>
      <% end %>
    </div><!-- /.row -->

  </div>
</section>
